@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
ul , li{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
.container{
    width: 1320px;
    margin: 0 auto;
}
/* nav bar */
#nav_bar{
    position: absolute;
    top: 28px;
    width: 100%;
}
#nav_bar .nav{
    display: flex;
    justify-content: space-between;
}
#nav_bar .nav .nav_items{
    display: flex;
    gap: 60px;
}
#nav_bar .nav .nav_items li a{
    font-weight: 500;
    font-size: 18px;
    color: white;
}
#nav_bar .nav .nav_items li a:hover{
    color: black;
    transition-duration: 1s;
}
/* nav bar */
/* banner part */
#banner{
    background-image: url(images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 462px 0;
}
#banner h5{
    color: #FFC178;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 8px;
}
#banner h1{
    font-weight: 400;
    font-size: 88px;
    color: white;
}
#banner h1 span{
    display: block;
    font-weight: 700;
}
/* banner part */
/* enjoyed */
#enjoyed{
    background-color: black;
    padding: 286px 0;
}
#enjoyed .enjoyed-wrapper{
    display: flex;
    gap: 100px;
    align-items: center;
}
#enjoyed .enjoyed-wrapper .enjoyed_contenct h5{
    color: #FFC178;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 8px;
}
#enjoyed .enjoyed-wrapper .enjoyed_contenct h1{
    color: white;
    font-weight: 700;
    font-size: 66px;
    width: 496px;
}
#enjoyed .enjoyed-wrapper .enjoyed_contenct p{
    color: white;
    font-weight: 400;
    font-size: 14px;
    width: 488px;
    margin-bottom: 60px;
}
#enjoyed .enjoyed-wrapper .enjoyed_contenct a{
    color: #FFC178;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;

}

/* enjoyed */
/* about */
#about{
    background-color: black;
    padding: 286px 0;   
}
#about .about_banner{
    background-image: url(images/about_banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 560px;
    padding-bottom: 32px;
}
#about .about_banner h5{
    color: #FFC178;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 8px;
    text-align: center;
}
#about .about_banner h1{
    color: white;
    font-weight: 700;
    font-size: 64px;
    width: 808px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}
#about .about_banner p{
    color: white;
    font-weight: 300;
    font-size: 14px;
    width: 624px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 26px;
}
#about .about_banner a{
    color: #FFC178;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    display: block; 
    margin: 0 auto; 
    width: fit-content;

}
/* about */
/* culture */
#culture{
    background-color: black;
    padding: 286px 0; 
}
#culture .cultuer_flex{
    display: flex;
    gap: 100px;
    align-items: center;
}
#culture .culture_contenct h5{
    color: #FFC178;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 8px;
}
#culture .culture_contenct h1{
    color: white;
    font-weight: 700;
    font-size: 66px;
    width: 560px;
}
#culture .culture_contenct p{
    color: white;
    font-weight: 400;
    font-size: 14px;
    width: 488px;
    margin-bottom: 60px;
}
#culture .culture_contenct a{
    color: #FFC178;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
}
/* culture */
/* footer */
#footer{
    padding: 100px 0;
    background-color: black;
}
#footer .footer_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
#footer .footer_flex h1{
    font-weight: 700;
    font-size: 44px;
    color: white;
}
#footer .footer_flex .explore_btn{
    display: flex;
    align-items: center;
    gap: 10px;
}
#footer .footer_flex .explore_btn h4{
    font-weight: 400;
    font-size: 18px;
    color: white;
}
#footer .footer_flex .explore_btn button{
    padding: 18px 67px;
    background-color: #FFA343; 
    font-weight: 500;
    font-size: 10px; 
    border-radius: 10px;
}
#footer .footer_flex_contenct{
    display: flex;
    justify-content: space-between;
}
#footer .footer_flex_contenct .written h1{
    font-weight: 700;
    font-size: 36px;
    color: white;
    width: 405px;
}
#footer .footer_flex_contenct .written h5{
    font-weight: 400;
    font-size: 16px;
    color: white;
    margin: 30px 0;
}
#footer .footer_flex_contenct .written .icons{
    display: flex;
    align-items: center;
    gap: 20px;
}
#footer .footer_flex_contenct .written .icons .icon_item{
    color: white;
}
#footer .footer_flex_contenct .list .list_header{
    font-weight: 400;
    font-size: 20px;
    color: #FFA343;
}
#footer .footer_flex_contenct .list li{
    font-weight: 400;
    font-size: 18px;
    color: white;
}
/* footer */